
#adminUserSelf{
        width: 59%;
}

.contentSus{
    position:relative;
    margin: 2rem 2rem;
    
}
.redirection{
    background: linear-gradient(45deg, #fdc50e, #180cb7);
    border-radius: 20px;
    padding: 0rem 3rem;
    box-shadow: inset 1px 1px 18px #c38a07;
    display: inline-block;
    width: 54%;
    padding: 1rem 1rem;
    margin: auto;
   
}

.line{
        width: 90%;
    height: 5px;
    background: linear-gradient(203deg, #1a127d, #d2840e);
    margin: auto;
    border-radius: 20px;
}
