.exist-number0{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 95%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #5d439e;
}
.exist-number1{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 85%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #1a5e67;
    box-shadow: inset 1px 1px 16px #02b8ff, 1px 1px 13px black;
}
.exist-number2{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 70%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #1a5e67;
    box-shadow: inset 1px 1px 16px #02b8ff, 1px 1px 13px black;
}
.exist-number3{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 65%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #1a5e67;
    box-shadow: inset 1px 1px 16px #02b8ff, 1px 1px 13px black; 
}
.exist-number4{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 60%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #1a5e67;
    box-shadow: inset 1px 1px 16px #02b8ff, 1px 1px 13px black; 
}
.exist-number5{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 50%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #35144e;
    box-shadow: inset 1px 1px 16px #eb0af5, 1px 1px 13px black;
}
.exist-number6{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 40%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #35144e;
    box-shadow: inset 1px 1px 16px #eb0af5, 1px 1px 13px black;
}
.exist-number7{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 30%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #504d52;
    box-shadow: inset 1px 1px 16px #ffffff, 1px 1px 13px black;
}
.exist-number8{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 20%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #504d52;
    box-shadow: inset 1px 1px 16px #ffffff, 1px 1px 13px black;
}
.exist-number9{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: 10%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #502b0b;
    box-shadow: inset 1px 1px 16px #ff5f00, 1px 1px 13px black;
}

.journalist{
    width: 100%;
    height: 16rem;
    margin-top: auto;
    position: relative;
    top: -1%;
    border-top-right-radius: 11px;
    border-top-left-radius: 12px;
    display: block;
    background-color: #69550b;
    box-shadow: inset 1px 1px 16px #ffbe02, 1px 1px 13px black;
}