 /*************************FORMS****************/
 
 @mixin button {
    margin:1rem;
    padding:1rem;
    border:2px solid black;
    font-family:white;
}
label{
    margin:auto;
}
input{
    margin:auto;
}
.title-form{
    background-color: #000000e3;
    margin-bottom: 5rem;
    border-radius: 28px;
    box-shadow: 3px 4px 12px black;;
    h1{
        padding:4rem;
    }
}
 .inner{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
        background-color: #000000ad;
        padding: 2rem;
        align-items: flex-start;
        justify-content: space-around;
        h2{
            display: inline-block;
            box-shadow: -1px 0px 12px #d2840e;
            border-radius: 45px;
            color: #cec8d0;
            margin: 7rem 2rem;
            padding: 1rem 2rem;
        }
 }
 .inner::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(10 ,12, 135 , 0.72), rgba(137, 6, 139 , 0.87));

 }
 .containerFrom{
        position:relative;
        overflow: hidden;
        padding:2rem;
     .form{
 
         background-color:#6A645A;
         color:white;
         margin-right:auto;
         margin-left:auto;

         h1{
             padding: 3rem;
            margin: 0rem;
         }
         small{
                 padding: 4rem;
         }
         
     }
 }
.ground{
      background-color:black;
      padding-bottom:5rem;
      /*border-top-right-radius: 80px 80px;
      border-top-left-radius: 80px 80px;*/
      
 }
 .formbody{
    display: inline-block;
    background-color: #101010eb;
    padding: 2rem;
    box-shadow: 0px 0px 9px 1px gold;
    border-radius: 11px;
    margin: 3rem 0rem;
         }
         .items-form{
            padding-top: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
         }

label,input{
    i{
        color:#d2850f;
    }
    
}
.PrivateMsg{
    background-color: #060506;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 79rem;
}
#returnMsg{
    width: 90%;
    min-height: 31rem;
    margin: 2rem auto;
    background-color: #292626de;
    border-radius: 20px;
    border: 1px solid #c47d10;
    box-shadow: inset 1px 1px 8px 4px black;
}
input{
    font-family: 'Source Code Pro', monospace;
    color: #ffc107;
    background-color: #1d1b1b;
    padding: 1rem;
    border-radius: 26px;
    text-align: center;
    border: none;
    border: 1px #d08411 solid;
    box-shadow: inset 0px 0px 4px 4px #000000;
}
input:placeholder{
    color:#ffc107;
}
.select-Profile{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
 input:last-child{
    max-width: 60%;
}

input:focus{
    box-shadow:-1px 1px 10px #422546fa;
}
.label-remember{
    margin-left: 4rem;
}

    button.succes{
        margin: 3rem 1rem;
        border: none;
        font-weight: 900;
        padding: 5% 26%;
        border-radius: 26px;
        background: linear-gradient(259deg, #8a6f09, #130086);
        box-shadow: 3px 2px 13px 0px #0a090a, inset 0px 0px 4px #ffcb07;
        cursor: pointer;
    }
    button.danger{
        margin:1rem;
        padding:1rem;
        border:2px solid black;
        background-color:#A7001E;
    }
    
.error:placeholder{
    color : red;
}
input::checkbox{
    background-color:#A7001E;
}
#remember{
   margin: auto; 
}
.deco-circle{
        width: 271%;
        transform: rotate(45deg);
        height: 5%;
        position: absolute;
        background-color: #d20ab9;
        border-radius: 117px;
        z-index: -1;
        top: 63%;
        left: -37%;
}
.deco-circle2{
        width: 129%;
        transform: rotate(45deg);
        height: 2%;
        position: absolute;
        background-color: #540d4b;
        border-radius: 117px;
        z-index: -1;
        top: 41%;
        left: -16%;
    
}
.deco-circle3{
    width: 18%;
    height: 49%;
    position: absolute;
    background-color: #e493f3;
    border-radius: 117px;
    z-index: -1;
    top: 31%;
    right: 71%;
    
}
/*********** DASHBOARD ADMIN **************/
.loginChange{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-weight: 900;
     background: none;
    padding: 1rem;
    border-radius: 26px;
    text-align: center;
    border: none;
    border: 1px #bba1bff0 solid;
    box-shadow: 1px 1px 4px 5px #35093a;
   
}
.content-info-dash{
    background: #060506;
    border-radius: 32px;
    margin: 4rem 0rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

     i{
        color: #9a8205;
    }
}
.content-info-dash div:not(:first-chid){
    width: 53%;
    margin: auto;
}
.userManaged-picture{
    position: absolute;
    top: -64px;
    border: 15px #140b53 solid;
    left:97px;
    width: 106px;
    border-radius: 67px;
    overflow: hidden;

}
.userManaged-self{
    border: 15px #fdfdfd45 solid;
    width: 106px;
    border-radius: 67px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 1rem;
}
.inner-self{
    margin:auto;
    background-color:#000000c9;
    box-shadow: 1px 14px 16px #1d1919;
    border-radius: 25px;
    width: 30rem;
    padding: 2rem;
    margin:auto;
}
.area-self{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}